* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: "Chakra Petch", sans-serif;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: darkolivegreen;
  text-align: center;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 90vw;
  width: 100%;
  min-height: 95vh;
  justify-content: space-evenly;
}
.game-section {
  display: flex;
  flex-direction: column;
  margin: auto;

  align-items: center;
}

.game-img {
  width: 200px;
  height: 200px;
  padding: auto;
  /* mix-blend-mode: multiply; */
}
.pic-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}
.score-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  background-color: cadetblue;
  padding: 2rem;
  border: 1px solid #dae5d0;
}
span {
  font-size: 1.5rem;
}
#pplScore {
  border-radius: 0.25rem 0 0 0.25rem;
}
#comScore {
  border-radius: 0 0.25rem 0.25rem 0;
}

.result-container {
  padding: 30px;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
footer {
  width: 100%;
  margin: 0;
  height: 1.5rem;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

@media screen and (max-width: 780px) {
  .game-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .game-img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    font-size: 15px;
    width: auto;
  }

  .game-img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 380px) {
  .score-sec {
    width: 200px;
    height: 200px;
    padding: 1rem;
    text-align: center;
  }
  span {
    font-size: 1rem;
  }
  .score {
    padding: 1.5rem;
  }
  .game-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .game-img {
    width: 80px;
    height: 80px;
  }

  .score {
    padding: 1.5rem;
  }
  span {
    font-size: 1rem;
  }
}
